header {
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tablaCompras {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
    font-size: 18px;
    text-align: left;
    /* padding: 10px; */
    min-width: 100%;
}

.tablaCompras thead th {
    background-color: #4CAF50;
    color: white;
    padding: 12px 15px;
}

.tablaCompras tbody td {
    padding: 12px 15px;
}

.tablaCompras tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tablaCompras tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.tablaCompras tbody tr:hover {
    background-color: #ddd;
}

.tablaCompras.dataTable thead th,
.tablaCompras.dataTable tbody td {
    padding: 12px 15px !important;
}

.tablaCompras.dataTable thead th {
    background-color: #4CAF50 !important;
    color: white !important;
}

.tablaCompras.dataTable tbody tr:nth-child(even) {
    background-color: #f2f2f2 !important;
}

.tablaCompras.dataTable tbody tr:nth-child(odd) {
    background-color: #ffffff !important;
}

.tablaCompras.dataTable tbody tr:hover {
    background-color: #ddd !important;
}

.dt-end {
    margin-bottom: 5px;
    float: right;
}

.dt-paging-button {
    background-color: #73ded6;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
}



.botonDetallesCompra {
  background-color: #1B4F72;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  float: right;
}

.modal {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll; /* Oculta la barra de desplazamiento */
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    overflow: auto;
}

#tituloModal {
    width: 100%;
}

#tablaDetallesCompra {
    width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 