body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

h1, h2 {
    font-weight: bold;
}

header {
    background-color: #2E86C1;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.login {
    border: 1px solid #1B4F72;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
}

.login h2 {
    margin-bottom: 10px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login label {
    margin-bottom: 5px;
}

.login input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
}

.login #sinSesion {
    text-align: right;
    cursor: pointer;
    color: chocolate;
}

.login button {
    background-color: #1B4F72;
    color: #fff;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
}

.registro {
    border: 1px solid #333;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    display: none;  
}

.registro h2 {
    margin-bottom: 10px;
}

.registro form {
    display: flex;
    flex-direction: column;
}

.registro label {
    margin-bottom: 5px;
}

.registro input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
}

.registro button {
    background-color: #1B4F72;
    color: #fff;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
}

.registro #sesion {
    text-align: right;
    cursor: pointer;
    color: chocolate;
}

.circle-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #28a745;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.circle-button:hover {
    background-color: #218838;
}
.circle-button i {
    font-size: 20px;
}