body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: bold;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.buscador {
    margin: 20px auto;
    width: 500px;
}

.buscador input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 80%;
}

.buscador button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
}

.libros-populares {
    margin: 20px auto;
    width: 800px;
}

.libros-populares ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
}

.libros-populares li {
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.libros-populares img {
    width: 100px;
}

.libros-populares button {
    background-color: #333;
    color: #fff;
    /* padding: 5px 10px; */
}

.recomendaciones {
    margin: 20px auto;
    width: 800px;
}

.recomendaciones ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
}

.recomendaciones li {
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.libros-busqueda img {
    width: 100px;
}

.libros-busqueda {
    margin: 20px auto;
    width: 800px;
}

.libros-busqueda ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
}

.libros-busqueda li {
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.libros-busqueda img {
    width: 100px;
}

.libroPrincipal {
    /* padding: 5px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #888;
    border-radius: 20px;
}

.botonLibroPrincipal {
    border: 1px solid #888;
    border-radius: 5px;
}