main {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 5vh; /* Ajusta la altura al 100% del viewport */
    font-family: Tahoma, sans-serif; /* Cambia la fuente del texto */
}