/* Estilos básicos para el menú */
  ul.barra_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
  }

  ul.barra_menu li {
    float: left;
  }

  ul.barra_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.barra_menu li a:hover {
    background-color: #111;
  }

  ul.barra_menu li:last-child {
    float: right;
  }
  