ul.barra_sistema {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
  }

  ul.barra_sistema li {
    float: left;
  }

  ul.barra_sistema li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.barra_sistema li a:hover {
    background-color: #111;
  }


  /* Estilos para la barra_sistema */
ul.barra_sistema {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1B4F72;
  width: 100px; 
  position: fixed; /* Fijar la barra para que permanezca en su posición */
  top: 0; 
  left: 0; 
  height: 100%; 
  overflow-y: auto; /* Permitir el desplazamiento vertical si la barra es más larga que la ventana */
}

/* Estilos para cada elemento de la barra */
ul.barra_sistema li {
  display: block; /* Cambiar a un formato de bloque */
  font-family: Tahoma, sans-serif;
}

ul.barra_sistema li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.barra_sistema li a:hover {
  background-color: #111;
}

/* Cambiar el cursor al pasar sobre el enlace de cerrar sesión */
ul.barra_sistema li a[onclick] {
  cursor: pointer;
}