/* ul.barra_sistema {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
  }

ul.barra_sistema li {
  float: left;
}

ul.barra_sistema li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.barra_sistema li a:hover {
  background-color: #111;
}

ul.barra_sistema {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1B4F72;
  width: 100px; 
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 100%; 
  overflow-y: auto;
}

ul.barra_sistema li {
  display: block;
  font-family: Tahoma, sans-serif;
}

ul.barra_sistema li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.barra_sistema li a:hover {
  background-color: #111;
}

ul.barra_sistema li a[onclick] {
  cursor: pointer;
} */

ul.barra_sistema {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1B4F72;
  overflow: hidden;
}

ul.barra_sistema li {
  float: left;
}

ul.barra_sistema li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.barra_sistema li a:hover {
  background-color: #111;
}


ul.barra_sistema li.align-right {
  float: right;
}

.modalUsuario {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll; /* Oculta la barra de desplazamiento */
  background-color: rgba(0,0,0,0.4);
}

.contenidoModalUsuario {
  text-align: center;
  float: none;
  background-color: #fefefe;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

#tituloModalUsuario {
  width: 100%;
}

.headerModal {
  width: 100%;
  background-color: #1B4F72;
  border-radius: 15px;
}

.bodyModal {
  /* margin-top: 10px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input-control {
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
}

.footerModal {
  border-top: 1px solid #111;
  /* border-top-color: #111; */
  padding-top: 10px;
  width: 100%;
  margin-top: 10px;
}

.botonFooterModalUsuario {
  background-color: #1B4F72;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  float: right;
  
}

#tituloModalUsuario {
  color: white;
}

.label-modal {
  width: 25%;
  max-width: 30%;
}

.input-modal {
  margin-left: 5%;
  width: 65%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#guardarInformacionUsuario {
  margin-right: 5px;
}