header {
    padding-top: 10px;
    padding-left: 10px; 
    padding-right: 10px;
    border-bottom: 1px dashed #111;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.botonPrimario {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    cursor: pointer;
    background-color: #1B4F72;
    color: white;
    border-color: #1B4F72;
    padding: 5px 10px;
}

.tablaAutores {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

.tablaAutores thead th {
    background-color: #4CAF50;
    color: white;
    padding: 12px 15px;
}

.tablaAutores tbody td {
    padding: 12px 15px;
}

.tablaAutores tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tablaAutores tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.tablaAutores tbody tr:hover {
    background-color: #ddd;
}

.tablaAutores.dataTable thead th,
.tablaAutores.dataTable tbody td {
    padding: 12px 15px !important;
}

.tablaAutores.dataTable thead th {
    background-color: #4CAF50 !important;
    color: white !important;
}

.tablaAutores.dataTable tbody tr:nth-child(even) {
    background-color: #f2f2f2 !important;
}

.tablaAutores.dataTable tbody tr:nth-child(odd) {
    background-color: #ffffff !important;
}

.tablaAutores.dataTable tbody tr:hover {
    background-color: #ddd !important;
}

.dt-end {
    margin-bottom: 5px;
    float: right;
}

.dt-paging-button {
    background-color: #73ded6;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.modalAutor {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll; /* Oculta la barra de desplazamiento */
    background-color: rgba(0,0,0,0.4);
}
  
.contenidoModalAutor {
    text-align: center;
    float: none;
    background-color: #fefefe;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: fit-content;
    max-height: fit-content;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}
  
#tituloModalAutor {
    height: fit-content;
    max-height: fit-content;
    width: 100%;
    color: white;
}

.headerModal {
    height: fit-content;
    max-height: fit-content;
    width: 100%;
    background-color: #1B4F72;
    border-radius: 15px;
}
  
.bodyModal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
  
.input-control {
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
    border: 1px solid #cccccc;
    border-radius: 4px;
    outline: none;
    margin-right: 15px;
    width: 30%;
    max-width: 30%;
}
  
.footerModal {
    border-top: 1px solid #111;
    padding-top: 10px;
    width: 100%;
    margin-top: 10px;
}
  
.botonFooterModalUsuario {
    background-color: #1B4F72;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    float: right;
}
  
#tituloModalUsuario {
    color: white;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}
  
#agregarLibro {
    margin-right: 5px;
}

.label-control {
    margin-top: 5px;
    margin-right: 5px;
    width: 15%;
    max-width: 15%;
}

.textarea-control {
    height: 80px;
    max-height: 110px;
    margin-top: 5px;
    margin-right: 5px;
    width: 80%;
    max-width: 80%;
}

#uploadedImage {
    width: 20%;
    max-width: 100px;
    margin-left: 3px;
    margin-right: 3px;
}

#deleteButton {
    height: fit-content;
    margin-left: 3px;
}

#botonSubirImagen {
    height: fit-content;
    margin-left: 50px;
}